.Overview {
    background: url('/images/overview-texture.png');
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.Overview .description {
    font-size: 1.2rem !important;
    line-height: 2rem !important;
}