.SectionBody {
    margin-top: 8rem;
}

.SectionBody h1 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 5rem;
}

.SectionBody .item {
    margin-bottom: 5rem !important;
}

.SectionBody p {
    font-size: 1.2em;
    line-height: 2rem;
}