.Introducer {
    min-height: 120vh;
    display: flex;
    align-content: center;
    flex-direction: column-reverse;
    align-items: center;
    padding: 1rem;
    padding-bottom: 21vh;
    background: url('/images/hero.jpg');
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.Introducer h1 {
    text-transform: uppercase;
    letter-spacing: 0.16rem;
}

.Introducer h2 {
    text-transform: uppercase;
    letter-spacing: 0.33rem;
}

.Introducer .hidden {
    text-transform: uppercase;
}